@using Entity.Models;
@model List<Entity.Models.Estudiante>

<div class="row">
	<div class="span8">
	</div>
	<div class="span4">
		@Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary pull-right" })
	</div>
</div>

<table class="table table-bordered table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th></th>
			<th>
				<small>@Html.DisplayNameFor(model => model[0].Nombres)</small>
			</th>
			<th>
				<small>@Html.DisplayNameFor(model => model[0].Apellidos)</small>
			</th>
			<th>
				<small>@Html.DisplayNameFor(model => model[0].Edad)</small>
			</th>
			<th>
				<small>@Html.DisplayNameFor(model => model[0].IdGenero)</small>
			</th>
			<th>
				<small>@Html.DisplayNameFor(model => model[0].Curso)</small>
			</th>
			<th>
				<small>@Html.DisplayNameFor(model => model[0].Activo)</small>
			</th>
		</tr>
	</thead>
@foreach (var item in Model) {
	<tr>

		<td>
			<div class="btn-group">
				<a href="@Url.Action("Edit", new { Id = item.Id })" class="btn btn-mini btn-warning"><i class="icon-pencil"></i> Editar</a>
			</div>
		</td>
		<td>
			<small>@item.Nombres</small>
		</td>
		<td>
			<small>@item.Apellidos</small>
		</td>
		<td>
			<small>@(item.Edad)</small>
		</td>
		<td>
			<small>@(item.IdGenero == 1 ? "M" : "F")</small>
		</td>
		<td>
			<small>@(item.Curso)</small>
		</td>
		<td>
			<small>@(item.Activo == true ? "Activo" : "Inactivo")</small>
		</td>
	</tr>
}
</table>
